<% if @user == current_user%>
  <h5>Welcome to your profile!<h5>
<% else %>
  <h5>Welcome to <%= @user.username %>'s profile!</h5>
<% end %>

<% @user.bleats.reverse.each do |bleat| %>
  <%= link_to bleat.user.username, profile_path(bleat.user.id) %>
  <%= bleat.body %>
  <br>
<% end %>